@media (max-width:576px){
	.res-subscribe-justify{
		justify-content:center !important;
		margin-bottom:15px;
	}
	.icon-relative{
		justify-content:center !important;
	}
	.icon-relative input{
		padding:10px 0;
		width:80% !important;
		padding-right:0px !important;
	}
	.icon-absolute{
		left:280px !important;
	}
}
@media (min-width:576px){
	.res-subscribe-justify{
		justify-content:center !important;
		margin-bottom:15px;
	}
	.icon-relative{
		justify-content:center !important;
	}
	.icon-relative input{
		padding:10px 0;
		width:55% !important;
		padding-right:0px !important;
	}
	.icon-absolute{
		left:340px !important;
	}
}
@media (min-width:768px){
	.icon-relative input{
		padding:10px 0;
		width:80% !important;
		padding-right:0px !important;
	}
	.icon-absolute{
		left:230px !important;
		top: 20px !important;
	}
}
@media (min-width:992px){
	.res-subscribe-justify{
		justify-content:end !important;
		margin-bottom:15px;
	}
	.icon-relative{
		justify-content:start !important;
	}
	.icon-relative input{
		width:50% !important;
		padding-right:0px !important;
	}
	.icon-absolute{
		left:280px !important;
		top: 20px !important;
	}
}